* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.maxWidth {
  max-width: 1000px;
  margin: 0 auto;
}

.header-shadow {
  height: 70px;
}
header {
  background: #fff;
  height: 70px;
  position: relative;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15); 
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  /* width: 1000px;
  left: -100%;
  margin: 0 auto;
  right: -100%; */
}

.header-bar {
  height: inherit;
}

header .logo {
  width: 45px;
  height: 45px;
}


header nav {
  border-top: 1px solid #EEE; 
  padding: 5px 0;
}

header nav a {
  padding-right: 10px;
}

header .logos {
  display: inline-block;
  left: 0;
}


header .signs, header .user-head {
  line-height: 65px;
}

header .signs > div, header .user-head > div {
  display: inline-block;
}

header div.user-head-info {
  width: 150px;
  text-align: right;
}

header div.user-head-info img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 10px;
  vertical-align: middle;
}

header .signs div.btns {
  color: #00897b; 
}

header .signs div.btns button {
  width: 45px;
  margin: 0 5px;
  color: inherit;
  /* border: 1px solid #00897b; */
}


.articles {
  padding-top: 20px;
}

.articles .article-cell {
  float: left;  
  width: 33.33%;
  /* height: 300px; */
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles .article-cell:nth-child(3n) {
  padding-left: 10px;
}

.articles .article-cell:nth-child(3n+1) {
  padding-right: 10px;
}

.articles .article-cell:nth-child(3n+2) {
  padding-left: 5px;
  padding-right: 5px;
}


.article-cell {
  /* padding: 10px;  */
  /* width:  */
  /* display: inline-block;   */
   /* display: flex  */
}

.article-cell div.img-container {
  background-origin:border-box;
  background-position-x:50%;
  background-position-y:50%;
  background-size: cover!important;
  height: 100px!important;
}

.article-cell > div {
  border: 1px solid #eee;
}

.article-cell div.article-intro, .article-cell div.img-container {
  cursor: pointer;
}

.article-cell div.article-intro {
  height: 100px;
  overflow-y: hidden;
  padding: 15px 10px 10px 10px;
}

.article-cell div.article-intro h3 {
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-cell div.article-intro p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 18px;
  height: 36px;
  font-size: 15px;
}

.article-cell div.author-intro {
  position: relative;
  padding: 10px;
  height: 60px;
}


.article-cell div.author-intro > img  {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.article-cell div.author-intro > div  {
  margin-left: 50px;
}

.article-cell div.author-intro > div .author-name {
  cursor: pointer;
  color: #00897b;
  display: inline-block;
  /* height: 20px; */
}

.article-cell div.author-intro .pub-time {
  font-size: 12px;
  color: gray;
  margin: 5px 0;
}
.article-cell div.author-intro .article-mark {
  position: absolute;
  height: inherit;
  color: gray;
  padding: 10px;
  cursor: pointer;
  line-height: 40px;
  top: 0;
  right: 0;
}

article {
  margin: 20px auto;
  max-width: 1000px;
}

article > div{
  margin: 0 auto;
  max-width: 700px;
}

article img{
  margin: 0 auto;
  max-width: 100%;
}

article > div{
  margin: 0 auto;
  max-width: 700px;
}

article > div {
  max-width: 700px;
  margin: 0 auto;
} 

article .author-intro {
  position: relative;
  height: 70px;
}

article .author-intro > img {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

article .author-intro > div {
  margin-left: 70px;
}

article .author-intro > div .user-name {
  margin: 5px 0;
}
article .author-intro > div .user-name .label{
  margin-right: 10px;
}
article .author-intro > div .user-name button{
  border: 1px solid gray;
  padding: 0 8px;
  border-radius: 3px;
  cursor: pointer;
}
article .author-intro > div .pub-time,  
article .author-intro > div .user-intro {
  font-size: 12px;
  color: gray;
}


.login {
  clear: both;
  position: absolute;
}

.mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1200;
  display: none;
}

.mask-box {
  position: absolute;
  width: 450px;
  /* height: 600px; */
  height: 480px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #ffffff; 
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.login .close {
  z-index: 300;
  cursor: pointer;
  color: #fff;
  right: 0;
  padding: 15px;
  position: absolute;
}

.mask-box-up {
  animation-name: animateUp;
  animation-duration: 360ms;
}
.mask-box-down {
  animation-name: animateDown;
  animation-duration: 300ms;
}

.mask-fadeout {
  animation-name: animateFadout;
  animation-duration: 300ms;
}

.mask-fadeup {
  display: block;
  /* animation-name: animateFadup;
  animation-duration: 300ms; */
}

@keyframes animateFadout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateFadup {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes animateUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animateDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}


.material-icons {
  vertical-align: middle;
}

.write {
  margin: 50px auto;
  max-width: 1000px;
}

.write .toolbar-container {
  position: fixed;
  background: #fff;
  z-index: 100;
  width: 1000px;
  top: 70px;
}

.write-wrapper .toolbar {
  border: none;
  position: fixed;
  top: 70px;
  padding: 4.5% 13%;
}

.ql-container.ql-snow {
  border: none;
}


i.circle {
  /* font-size: 35px; */
  animation-name: logingX;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes logingX {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ql-container { 
  font-size: 16px;
  margin: 20px auto;
}

.quill {
  margin: 0 auto;
  max-width: 700px;
}

#author-intro {
  border: 1px solid #e3e3e3;
  background: #fff;
  width: 300px;
  min-height: 160px; 
  border-radius: 5px;
  position: absolute;
}

#author-intro .info {
  height: 60px;
  padding: 5px;
}
#author-intro .info div {
  margin-right: 50px;
}
#author-intro .info img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.popover-top {
  /* transform: translateY(-100% + 30px); */
}

.popover-top::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left:145px;
  overflow:hidden;
  width:13px;
  height:13px;
  background:#fff;
  border-bottom:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}

.popover-bottom {

}

.popover-bottom::before {
  content: '';
  position: absolute;
  top: -7px;
  left:145px;
  overflow:hidden;
  width:13px;
  height:13px;
  background:#fff;
  border-top:1px solid #d3d3d3;
  border-left:1px solid #d3d3d3;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
} 
