* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.maxWidth {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: relative;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
  
}

header .logo {
  width: 45px;
  height: 45px;
}


header nav {
  border-top: 1px solid #EEE; 
  padding: 5px 0;
}

header nav a {
  padding-right: 10px;
}

header .logos {
  display: inline-block;
  left: 0;
}


header .signs, header .user-head {
  line-height: 65px;
}

header .signs > div, header .user-head > div {
  display: inline-block;
}

header div.user-head-info {
  width: 150px;
  text-align: right;
}

header div.user-head-info img{
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

header .signs div.btns {
  color: #00897b; 
}

header .signs div.btns button {
  width: 45px;
  margin: 0 5px;
  color: inherit;
  /* border: 1px solid #00897b; */
}


.articles {
  padding-top: 20px;
}

.articles .article-cell {
  float: left;  
  width: 33.33%;
  height: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articles .article-cell:nth-child(3n) {
  padding-left: 10px;
}

.articles .article-cell:nth-child(3n+1) {
  padding-right: 10px;
}

.articles .article-cell:nth-child(3n+2) {
  padding-left: 5px;
  padding-right: 5px;
}


.article-cell {
  /* padding: 10px;  */
  /* width:  */
  /* display: inline-block;   */
   /* display: flex  */
}

.article-cell > div {
  border: 1px solid #eee;
}

article {
  margin: 0 auto;
  max-width: 1000px;
}

article > div {
  max-width: 700px;
  margin: 0 auto;
} 

.login {
  clear: both;
  position: absolute;
}

.mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1200;
  display: none;
}

.mask-box {
  position: absolute;
  width: 450px;
  /* height: 600px; */
  height: 480px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #ffffff; 
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.login .close {
  z-index: 300;
  cursor: pointer;
  color: #fff;
  right: 0;
  padding: 15px;
  position: absolute;
}

.mask-box-up {
  animation-name: animateUp;
  animation-duration: 360ms;
}
.mask-box-down {
  animation-name: animateDown;
  animation-duration: 300ms;
}

.mask-fadeout {
  animation-name: animateFadout;
  animation-duration: 300ms;
}

.mask-fadeup {
  display: block;
  /* animation-name: animateFadup;
  animation-duration: 300ms; */
}

@keyframes animateFadout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateFadup {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes animateUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animateDown {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}


.material-icons {
  vertical-align: middle;
}

.write {
  margin: 0 auto;
  max-width: 1000px;
}

.write-wrapper .toolbar {
  border: none;
  padding: 4.5% 13%;
}